/* google font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* common css */
/* color */
:root{
    --praimary-bg:#F2F5F9;
    --praimary:#0B0909;
    --secondary:#FF9C1A;
    --red:#EC1B09;
    --font:#000000;
    --font-color: linear-gradient(180deg, rgba(236,27,9,1) 0%, rgba(255,156,26,1) 100%);
    --btn-color: linear-gradient(90deg, rgba(236,27,9,1) 0%, rgba(255,156,26,1) 100%);
    
}